@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-image: url("newYear.jpeg");
    background-size: cover;
    background-position: centre center;
    color: azure;
}

.countdown-container{
    color: burlywood;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    text-align: center;
    display: block;
   
}

.days-c{
    color: burlywood;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    text-align: center;
    display: block;
    float: left;
}

.hours-c{
    color: burlywood;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    text-align: center;
    display: block;
    float: left;
}

.mins-c{
    color: burlywood;
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    text-align: center;
    display: block;
    float: left;
}